:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  .error {
    width: 300px;
    color: red;
  }
  
  .container-button {
    display: flex;
    justify-content: center;
    .button {
      border: 1px solid lightseagreen;
    }
  }

  .mat-form-field {
    width: 100%;
    min-width: 350px;
  }
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}


